---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <object data="https://julienlevasseur-images.s3.amazonaws.com/cv_skills_v0.1.pdf" type="application/pdf" width="1000px" height="1300px">
      <embed src="https://julienlevasseur-images.s3.amazonaws.com/cv_skills_v0.1.pdf">
          <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://julienlevasseur-images.s3.amazonaws.com/cv_skills_v0.1.pdf">Download PDF</a>.</p>
      </embed>
    </object>
  </div>
</main>
